<!--h1>Datos de la hoja de cálculo</h1-->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>
    {{#each sheetData}}

      <tr>

        <th scope="row">{{@index}}</th>
        <td>{{this.[0]}}</td>
        <td>{{this.[1]}}</td>
        <td>
            <a href="/embed/{{@index}}">Ver Tablero</a> <!-- {{this.[2]}} Asumiendo que el nombre del tablero está en la primera columna -->
        </td>
      </tr>

    {{/each}}

  </tbody>
</table>